{% extends "base.html" %}
{% load static %}

{% block title %}
    New Message
{% endblock title %}

{% block content %}
<h1 align="center"> New Message </h1>
{% if submitted %}
<h5 align="center">Sent successfully!</h5>
<ol><a class="btn btn-outline-primary" href="/mymessages">Back</a></ol>
{% else %}
<form action="" enctype="multipart/form-data" method="post" novalidate>
{% csrf_token %}
    <table class="table table-borderless" width="80%">
        {{ form }}
        <tr>
            <td colspan="2">
                <input class="btn btn-warning" type="submit" value="Submit">
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-outline-warning" href="/mymessages">Back</a>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock content %}